<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calculadoraments" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculadoraMeNTS" >
        <activity
            android:name=".VentanaRecomendacion"
            android:exported="true" />
        <activity
            android:name=".SecondFragment"
            android:exported="true" />
        <activity
            android:name=".FirstFragment"
            android:exported="true" />
        <activity
            android:name=".ThirdFragment"
            android:exported="true" />
        <activity
            android:name=".VentanaFinal"
            android:exported="true" />
        <activity
            android:name=".FourFragmentActivity"
            android:exported="true" />
        <activity
            android:name=".FiveFragment"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CalculadoraMeNTS.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>